# Severity component

In [1]:
# import libraries
# NOTE: global_vars should be edited to include local paths and credentials before use.
import ignore.global_vars as gv
import db_tools as dbt
import pandas as pd
import sqlalchemy
import sys
from IPython.display import display, HTML
from scipy import stats
from scipy.stats import poisson, nbinom
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
from matplotlib.colors import LinearSegmentedColormap
import plotly.express as px
import plotly.graph_objects as go
from shapely import wkt
import os

In [2]:
# open connection and get table names
table_names = dbt.query(
    "SELECT table_name FROM information_schema.tables WHERE table_schema='public'"
)
print(table_names)

Created SQLAlchemy engine for disaster_db
Query executed successfully, returned 11 rows
                             table_name
0                     census_resilience
1                     geography_columns
2                      geometry_columns
3                       spatial_ref_sys
4                 disaster_risk_spatial
5        disaster_risk_counties_spatial
6              POISSON_FREQUENCY_PARAMS
7                   NOAA_STORM_EPISODES
8               nri_shape_census_tracts
9                     NOAA_STORM_EVENTS
10  disaster_risk_counties_event_counts

In [3]:

df_noaa_episodes = dbt.query('SELECT * FROM "NOAA_STORM_EPISODES"')
df_noaa_events = dbt.query('SELECT * FROM "NOAA_STORM_EVENTS"')
df_census = dbt.query('SELECT * FROM "census_resilience"')

Created SQLAlchemy engine for disaster_db
Query executed successfully, returned 98488 rows
Created SQLAlchemy engine for disaster_db
Query executed successfully, returned 1500308 rows
Created SQLAlchemy engine for disaster_db
Query executed successfully, returned 3144 rows

In [6]:
df_noaa_episodes.sample(3)

,county_fips,year,event_count,total_deaths_direct,total_deaths_indirect,total_injuries_direct,total_injuries_indirect,event_types,first_event_date
69862,40121,1999,0,0,0,0,0,,NaT
20725,16012,2002,0,0,0,0,0,,NaT
94025,53555,2008,0,0,0,0,0,,NaT

In [7]:
df_noaa_events.sample(3)

,EPISODE_ID,EVENT_ID,EVENT_TYPE,CZ_FIPS,STATE_FIPS,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DATE,YEAR,CO_FIPS
1422588,182730,1114629,Hail,107,27,0,0,0,0,None,2023-07-09,2023,27107
1071028,2152106,5327481,High Surf,003,15,0,0,0,0,None,2003-04-19,2003,15003
130916,147219,885791,Flood,043,54,0,0,0,0,2.00K,2020-05-21,2020,54043